<!DOCTYPE html>
<html>
<head>
    <title>Add Session</title>
</head>
<body>
    <h1>Add New Session</h1>
    
        <label for="movie">Movie:</label><br>
        <input type="text" id="movie" name="movie"><br><br>

        <label for="hall">Hall:</label><br>
        <input type="text" id="hall" name="hall"><br><br>

        <label for="time">Time:</label><br>
        <input type="text" id="time" name="time"><br><br>

        <label for="tickets">Tickets:</label><br>
        <input type="number" id="tickets" name="tickets"><br><br>

        <input type="submit" value="Add Session">

    
</body>
</html>
